registry=https://idani.jfrog.io/artifactory/api/npm/davidko-npm-local/
//idani.jfrog.io/artifactory/api/npm/davidko-npm-local/:_authToken=cmVmdGtuOjAxOjE3OTY0MTc1NjE6UEtYOHoxRnc5b3EzOVBnQVA1N2Z5SGxpUnZ3
